use guix haunt

GUILE_LOAD_PATH="$GUILE_LOAD_PATH:/gnu/store/3c5n80ixbs198qk6dn42fiigph8s6fjs-haunt-0.3.0/share/guile/site/3.0:/gnu/store/0vbiz79g0mrvhg7v3iy4xl8gjwi9bh5s-guile-commonmark-0.1.2/share/guile/site/3.0"
