body {
  background-color: #f1e5cd
}

.library {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, 15rem);
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  max-width: 15rem;
  margin: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
