body {
    background-color: #f1e5cd;
    margin: 1em;
}

.library {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: center;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-direction: column;
  max-width: 15rem;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
